asgiref==3.8.1
bleach==6.2.0
Django==5.2
django-autoslug==1.9.9
django-ckeditor==6.7.2
django-js-asset==3.1.2
gunicorn==23.0.0
packaging==25.0
pillow==11.2.1
sqlparse==0.5.3
tzdata==2025.2
webencodings==0.5.1
whitenoise==6.9.0
