{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}
    <main id="content" class="site-main">

        <!-- Home slider html start -->
        <section class="home-slider-section">
            <div class="home-slider">
                {% for item in slider_items %}
                    <div class="home-banner-items">
                        <div class="banner-inner-wrap" style="background-image: url({{ item.image.url }})"></div>
                        <div class="banner-content-wrap">
                            <div class="container">
                                <div class="banner-content text-center">
                                    <h2 class="banner-title">Путешествуй без границ</h2>
                                </div>
                            </div>
                        </div>
                        <div class="overlay"></div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <!-- slider html end -->

        <!-- Home search field html start -->
        <div class="trip-search-section shape-search-section">
            <div class="slider-shape"></div>
            <div class="container">
                <div class="trip-search-inner white-bg d-flex">
                    <div id="home_booking_message"></div>

                    <form id="home_booking_form" action="{% url 'home' %}" method="post" class="form-inline">
                        {% csrf_token %}
                        <!-- inputs -->
                        <div class="input-group">
                            <label>Email</label>
                            <input type="email" name="booking_email" placeholder="Email" required>
                        </div>
                        <div class="input-group">
                            <label>День прибытия</label>
                            <input class="input-date-picker" type="text" name="booking_arrival_date"
                                   placeholder="MM / DD / YY" autocomplete="off" readonly="readonly" required>
                        </div>
                        <div class="input-group width-col-3">
                            <label>Участники</label>
                            <input class="text-center" type="number" name="booking_guest_number" placeholder="Участники" required value="1">
                        </div>
                        <div class="input-group width-col-3">
                            <label>Туры</label>
                            <select name="booking_tour_id" id="booking_tour_id" required>
                                <option value="">Выберите тур</option>
                                {% for tour in tours_all %}
                                    <option value="{{ tour.id }}">{{ tour.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group width-col-3">
                            <label class="screen-reader-text">Бронировать</label>
                            <input id="booking-submit" type="submit" name="home-book_submit" value="Бронировать">
                        </div>
                    </form>

                    <div id="home-booking-message"></div>
                </div>
            </div>
        </div>
        <!-- search field html end -->


        <section class="destination-section">
            <div class="container">
                <div class="section-heading">
                    <div class="row align-items-end">
                        <div class="col-lg-7">
                            <h5 class="dash-style">ПОПУЛЯРНОЕ</h5>
                            <h2>ЛУЧШИЕ НАПРАВЛЕНИЯ</h2>
                        </div>
                        <div class="col-lg-5">
                            <div class="section-disc">
                                Эксклюзивне места для незабываемого отдыха и ярких впечатлений. Путешествуйте с комфортом и стилем.
                                Откройте для себя уникальные направления!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="destination-inner destination-three-column">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                {% for category in categories %}
                                    <div class="col-sm-4">
                                        <div class="desti-item overlay-desti-item">
                                            <figure class="desti-image">
                                                <img src="{{ category.featured_image.url }}" alt="">
                                            </figure>
                                            <div class="desti-content">
                                                <h3>
                                                    <a href="{% url 'tours_list_by_category' category.pk %}">{{ category.name }}</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}


                                <div class="col-sm-4">
                                    <div class="desti-item overlay-desti-item">
                                        <figure class="desti-image">
                                            <img src="{% static 'images/destinations/aviak.jpg' %}" alt="">
                                        </figure>
                                        <div class="meta-cat bg-meta-cat">
                                            <a href="#">Авиакасса</a>
                                        </div>
                                        <div class="desti-content">
                                            <h3>
                                                <a href="{% url 'book_ticket' %}">Дешевые авиабилеты</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </section>

        <!-- Home activity section html start -->
        <section class="activity-section activity-bg-image"
                 style="background-image: url({% static 'images/home/services_bg4.jpg' %})">
            <div class="container">
                <div class="section-heading text-center">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <h2>ПОЧЕМУ ВЫБИРАЮТ НАС?</h2>
                        </div>
                    </div>
                </div>
                <div class="activity-inner row">
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="activity-item">
                            <div class="activity-content">
                                <h4>
                                    <a href="#">Визовая поддержка</a>
                                </h4>
                            </div>
                            <div class="activity-icon">
                                <a href="#">
                                    <img src="{% static 'images/home/services/1.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="activity-item">

                            <div class="activity-content">
                                <h4>
                                    <a href="#">Бронирование авиабилетов</a>
                                </h4>
                            </div>
                            <div class="activity-icon">
                                <a href="#">
                                    <img src="{% static 'images/home/services/2.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="activity-item">

                            <div class="activity-content">
                                <h4>
                                    <a href="#">Бронирование гостиницы</a>
                                </h4>
                            </div>
                            <div class="activity-icon">
                                <a href="#">
                                    <img src="{% static 'images/home/services/3.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="activity-item">

                            <div class="activity-content">
                                <h4>
                                    <a href="#">Бронирование трансфера</a>
                                </h4>
                            </div>
                            <div class="activity-icon">
                                <a href="#">
                                    <img src="{% static 'images/home/services/4.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="activity-item">

                            <div class="activity-content">
                                <h4>
                                    <a href="#">Бронирование железнодорожного билета</a>
                                </h4>
                            </div>
                            <div class="activity-icon">
                                <a href="#">
                                    <img src="{% static 'images/home/services/5.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="activity-item">

                            <div class="activity-content">
                                <h4>
                                    <a href="#">CIP hall бронирование</a>
                                </h4>
                            </div>
                            <div class="activity-icon">
                                <a href="#">
                                    <img src="{% static 'images/home/services/6.3.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- activity html end -->


        <!-- Home packages section html start -->
        <section class="package-section">
            <div class="container">
                <div class="section-heading text-center">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <h5 class="dash-style">ПОПУЛЯРНЫЕ ПАКЕТЫ</h5>
                            <h2>ОТКРОЙ ВЕЛИКОЛЕПНЫЕ МЕСТА</h2>
                            <p>Готовьтесь к настоящим приключениям!
                                Впереди удивительные места, новые впечатления и весёлые открытия — каждое путешествие
                                станет вашей общей историей.</p>
                        </div>
                    </div>
                </div>
                <div class="package-inner">
                    <div class="row">
                        {% for tour in tours_featured %}
                            <div class="col-lg-4 col-md-6">
                                <div class="package-wrap">
                                    <figure class="feature-image">
                                        <a href="#">
                                            <img src="{{ tour.lists_page_image.url }}" alt="">
                                        </a>
                                    </figure>
                                    <div class="package-price">
                                        <h6>
                                            {% if tour.price %}
                                                <span>${{ tour.price | floatformat:0 }}</span>
                                            {% else %}
                                                <span>Цена по запросу</span>
                                            {% endif %}
                                        </h6>
                                    </div>
                                    <div class="package-content-wrap">
                                        <div class="package-meta text-center">
                                            <ul>
                                                <li>
                                                    <i class="far fa-clock"></i>
                                                    {{ tour.duration_days }} дней
                                                </li>
                                                {% comment %}<li>
                                                    <i class="fas fa-user-friends"></i>
                                                    Участники: {{ tour.people_count }}
                                                </li>{% endcomment %}
                                                <li>
                                                    <i class="fas fa-map-marker-alt"></i>
                                                    {{ tour.location }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="package-content">
                                            <h3>
                                                <a href="{% url 'tour_detail' tour.pk %}">{{ tour.title }}</a>
                                            </h3>
                                            <p>{{ tour.short_description }}</p>
                                            <div class="btn-wrap">
                                                <a href="{% url 'tour_detail' tour.pk %}" class="button-text width-6">
                                                    Подробно
                                                    <i class="fas fa-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- packages html end -->


        <!-- Home callback section html start -->
        <section class="callback-section">
            <div class="container">
                <div class="row no-gutters align-items-center">
                    <div class="col-lg-5">
                        <div class="callback-img"
                             style="background-image: url({% static 'images/contact/support.jpg' %})"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="callback-inner">
                            <div class="section-heading section-heading-white">
                                <h5 class="dash-style">ОБРАТНАЯ СВЯЗЬ</h5>
                                <h2>ПУТЕШЕСТВУЙ. ОТКРОЙ МИР. ПОМНИ НАС!</h2>
                            </div>
                            <div class="callback-counter-wrap">
                                <div class="counter-item">
                                    <div class="counter-icon">
                                        <img src="{% static 'images/icon1.png' %}" alt="">
                                    </div>
                                    <div class="counter-content">
                                    <span class="counter-no">
                                       {% comment %}<span class="counter">500</span>K+{% endcomment %}
                                    </span>
                                        <span class="counter-text">
                                       ЛУЧШИЕ ГИДЫ
                                    </span>
                                    </div>
                                </div>
                                <div class="counter-item">
                                    <div class="counter-icon">
                                        <img src="{% static 'images/icon2.png' %}" alt="">
                                    </div>
                                    <div class="counter-content">
                                        <span class="counter-text">
                                       АКЦИИ И СКИДКИ
                                    </span>
                                    </div>
                                </div>
                                <div class="counter-item">
                                    <div class="counter-icon">
                                        <img src="{% static 'images/icon3.png' %}" alt="">
                                    </div>
                                    <div class="counter-content">
                                        <span class="counter-text">
                                       ПЕРСОНАЛЬНЫЙ ПОДХОД
                                    </span>
                                    </div>
                                </div>
                                <div class="counter-item">
                                    <div class="counter-icon">
                                        <img src="{% static 'images/icon4.png' %}" alt="">
                                    </div>
                                    <div class="counter-content">
                                        <span class="counter-text">
                                       ЛУЧШИЕ МАРШРУТЫ
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="support-area">
                                <div class="support-icon">
                                    <img src="{% static 'images/icon5.png' %}" alt="">
                                </div>
                                <div class="support-content">
                                    <h4>Поддержка 24/7 </h4>
                                    <h3>
                                        <a href="tel:+998887156000">+998887156000</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- callback html end -->

        <!-- Home testimonial section html start -->
        <div class="testimonial-section" style="background-image: url({% static 'images/home/bg.png' %})">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="testimonial-inner testimonial-slider">
                            <div class="testimonial-item text-center">
                                <figure class="testimonial-img">
                                    <img src="{% static 'images/testimonial/t1.jpg' %}" alt="">
                                </figure>
                                <div class="testimonial-content">
                                    <p>"Это было удивительное путешествие! Всё было хорошо организовано, маршрут
                                        продуман до мелочей.
                                        Я влюбилась в атмосферу города и обязательно вернусь снова!"</p>
                                    <cite>
                                        Laura, Германия
                                        <span class="company">Турист</span>
                                    </cite>
                                </div>
                            </div>
                            <div class="testimonial-item text-center">
                                <figure class="testimonial-img">
                                    <img src="{% static 'images/testimonial/t2.jpg' %}" alt="">
                                </figure>
                                <div class="testimonial-content">
                                    <p>" Отличный сервис и тёплый приём! Природа, архитектура и еда превзошли все мои
                                        ожидания. Спасибо команде за незабываемые впечатления. "</p>
                                    <cite>
                                        Ахмед, Турция
                                        <span class="company">Турист</span>
                                    </cite>
                                </div>
                            </div>
                            <div class="testimonial-item text-center">
                                <figure class="testimonial-img">
                                    <img src="{% static 'images/testimonial/t3.jpg' %}" alt="">
                                </figure>
                                <div class="testimonial-content">
                                    <p>"Каждый день был полон открытий! Нам понравилась забота о туристах и внимание к
                                        деталям. Самарканд оставил в нашем сердце тёплый след."</p>
                                    <cite>
                                        Sophia, США
                                        <span class="company">Турист</span>
                                    </cite>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- testimonial html end -->
    </main>

    <script>
        $('#home_booking_form').on('submit', function (e) {
            e.preventDefault();

            $('#home_booking_message').html('');

            let form_data = $(this).serialize();
            let csrfToken = $("#csrf_token").val();


            $.ajax({
                url: "{% url 'home' %}",
                headers: {"X-CSRFToken": csrfToken},
                method: "POST",
                data: form_data,
                success: function (response) {
                    if (response.success) {
                        {#alert(response.success);#}
                        $('#home_booking_message').html('<p style="color: green;">' + response.success + '</p>');
                        $('#home_booking_form')[0].reset();

                        setTimeout(function () {
                            $('#home_booking_message').fadeOut('slow', function () {
                                $(this).html('').show();
                            });
                        }, 5000);
                    } else if (response.error) {
                        alert(response.error);
                    }
                },
                error: function (error) {
                    {#alert("Бронирование принято! Мы свяжемся с вами в ближайшее время");#}
                    $('#home_booking_message').html('<p style="color: green; text-align: center"> Бронирование принято! Мы свяжемся с вами в ближайшее время</p>');
                }
            });
        });
    </script>

{% endblock %}